* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPages{
  padding-left: 300px;
}
/*--------------------Reports-------------------*/
@import url("./Components/Cashier/Reports/ReportsList/Reports.css");

/*--------------------Category List-------------------*/
@import url("./Components/Cashier/Categories/viewCategoryList.css");

/*--------------------Create Report-------------------*/
@import url("./Components/Cashier/Reports/CreateReport/CreateReport.css");

