.emp-manage-page{
    overflow-x: auto;
}
.emp-manage-page h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.emp-manage-page table{
    margin: auto;
    width: 100%;
}
.emp-manage-page table, th, tr, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color: rgb(3, 165, 206);
}